<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <li class="nav-item active">
        <a class="nav-link" href="/wishes?valid=<%= item._id %>">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/">LOGOUT <span class="sr-only">(current)</span></a>
      </li>
      <div class="bg-dark p-4">
        <!-- <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span> -->
        <div class="card">
          <div class="container">
            <p><%=  item.fname  %></p>
            <p><%=  item.lname  %></p>
            <p><%=  item.uname  %></p>
            <p><%=  item.usn  %></p>
            <p><%=  item.dept  %></p>
            <p><%=  item.email  %></p>
            <a href="/updateuser/<%= item._id %>"><button type="submit">UPDATE</i></button></a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar -top navbar-dark bg-dark">
      <li class="nav-item active">
        <a class="nav-link" href="/wishes?valid=<%= item._id %>">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/">LOGOUT <span class="sr-only">(current)</span></a>
      </li>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
