<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="card">
    <div class="container">
      <p><%=  item.fname  %></p>
      <p><%=  item.lname  %></p>
      <p><%=  item.uname  %></p>
      <p><%=  item.usn  %></p>
      <p><%=  item.dept  %></p>
      <p><%=  item.email  %></p>
    </div>
  </div>
  <form class="" action="/wishes" method="POST">
    <button type="submit" name="wish" value="shownotice">Show Notice</button>
    <% if (item.typeofuser === "staff"){ %>
    <button type="submit" name="wish" value="addnotice">Add Notice</button>
    <% } else { %>
    <button type="submit" name="wish" value="addnotice" disabled>Add Notice</button>
    <% } %>
  </form>
</body>

</html>
