<!DOCTYPE html>

<html lang="en">



<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Image Uploading</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>


<body>

  <h1>To Upload Image on mongoDB</h1>

  <hr>

  <div>

    <form action="/addNotice" method="POST" enctype="multipart/form-data">

      <div>

        <label for="name">Image Title</label>

        <input type="text" id="name" placeholder="Name" value="" name="name">

      </div>

      <div>

        <label for="desc">Image Description</label>

        <textarea id="desc" name="desc" value="" rows="2" placeholder="Description" required></textarea>


      </div>

      <div>
        <label for="date">Date</label>
        <input type="date" id="date" placeholder="date" value="" name="dat" required>
      </div>

      <div>
        <label for="dep">Department</label>
        <input type="text" id="dep" placeholder="department" value="" name="department" required>
      </div>

      <div>

        <label for="image">Upload Image</label>

        <input type="file" id="image" name="myfile" value="" multiple>

      </div>

      <div>

        <button type="submit">Submit</button>

      </div>

    </form>

  </div>
  <h1>Uplaoded Images</h1>


  <div>

    <% if(files){ %>
    <% files.forEach(function(file) { %>
    <h5><%= file.name %></h5>

    <p><%= file.desc %></p>

    <h5><%= file.dept %></h5>

    <% file.img[0].data.forEach(function(name,index){ %>


    <div class="card card-body mb-3">


      <% if(file.img[0].type[index]) { %>
      <img src="image/<%= name %>" alt="">
      <% } else { %>
      <a href="/files/<%= name %>" target="_blank"><%= name %></a>
      <% } %>
      <form method="POST" action="/files">
        <input type="hidden" name="idea" value="<%= file.img[0].ide[index] %>">
        <input type="hidden" name="idoffile" value="<%= file._id %>">
        <input type="hidden" name="ind" value="<%=index%>">
        <input type="hidden" name="dataarr" value="<%=file.img[0].data%>">
        <input type="hidden" name="typearr" value="<%=file.img[0].type%>">
        <input type="hidden" name="idearr" value="<%=file.img[0].ide%>">
        <button type="submit" class="btn btn-danger btn-block mt-4">Delete</button>
      </form>
    </div>

    <% }) %>

    <% }) %>
    <% } else { %>
    <p>No files to show</p>
    <% } %>

  </div>

</body>
