<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">

  </head>


<body>

  <h1>UPDATE A USER!!!!</h1>

  <hr>

  <div class=" flex-parent jc-center">

    <form action="/updateuser" method="POST">

      <div class="form-group">
        <label for="text">First Name</label>
        <input type="text" class="form-control" name="fname" value = "<%= data.fname %>">
      </div>

      <div class="form-group">
        <label for="text">Last Name</label>
        <input type="text" class="form-control" name="lname" value = "<%= data.lname %>">
      </div>

      <div class="form-group">
        <label for="text">User Name</label>
        <input type="text" class="form-control" name="uname" value = "<%= data.uname %>">
      </div>

      <div class="form-group">
        <label for="text">Staff id / USN</label>
        <input type="text" class="form-control" name="sid" value = "<%= data.staffid %>">
      </div>

      <div class="form-group">
        <label for="text">Department</label>
        <input type="text" class="form-control" name="dname" value = "<%= data.dept %>">
      </div>

      <div class="form-group">
        <label for="password">Enter Old Password</label>
        <input type="password" class="form-control" name="oldpassword" required>
      </div>

      <div class="form-group">
        <label for="password">Enter New Password /Leave Blank</label>
        <input type="password" class="form-control" name="newpassword">
      </div>

       <input type="hidden" name="ide" value="<%= data.id %>">
      <button class="updatebtn btn btn-dark shownoticebtn" type="submit">Submit</button>

    </form>

  </div>

</body>
