<!DOCTYPE html>

<html lang="en">



<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Image Uploading</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>


<body>

  <h1>UPDATE A NOTICE!!!!</h1>

  <hr>

  <div>

    <form action="/update" method="POST" enctype="multipart/form-data">

      <div>

        <label for="name">Image Title</label>

        <input type="text" id="name" placeholder="Name" value="<%=data.name%>" name="name">

      </div>

      <div>

        <label for="desc">Image Description</label>

        <textarea id="desc" name="desc" value="" rows="2" placeholder="Description" required><%=data.desc%></textarea>


      </div>

      <div>
        <label for="date">Date</label>
        <input type="date" id="date" placeholder="date" value="<%=data.date%>" name="dat" required>
      </div>

      <div>
        <label for="dep">Department</label>
        <input type="text" id="dep" placeholder="department" value="<%=data.dept%>" name="department" required>
      </div>

      <div>

        <label for="image">Upload Image</label>

        <input type="file" id="image" name="myfile" value="<%=data.img%>" multiple required>

      </div>

      <input type="hidden" name="ide" value="<%= data._id %>">

      <div>

        <button type="submit">Submit</button>

      </div>

    </form>

  </div>

</body>
