<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">

  </head>


<body>

  <!-- <h1 >UPDATE A NOTICE!!!</h1> -->

  <hr>

  <div class=" flex-parent jc-center">

    <form action="/update" method="POST" enctype="multipart/form-data">

      <div>

        <label for="name">Notice Title</label>

        <input class="form-control" type="text" id="name" placeholder="Name" value="<%=data.name%>" name="name">

      </div>

      <div>

        <label for="desc">Notice Description</label>

        <textarea class="form-control" id="desc" name="desc" value="" rows="2" placeholder="Description" required><%=data.desc%></textarea>


      </div>

      <div>
        <label for="date">Date</label>
        <input class="form-control" type="date" id="date" placeholder="date" value="<%=data.date%>" name="dat" required>
      </div>

      <div>
        <label for="dep">Department</label>
        <!-- <input type="text" id="dep" placeholder="department" value="" name="department" required> -->
        <select class="form-control" name="department" id="department">
          <option value="<%=data.dept%>" selected><%=data.dept%></option>
          <option value="ISE">ISE</option>
          <option value="CSE">CSE</option>
          <option value="TLE">TLE</option>
          <option value="ECE">ECE</option>
          <option value="EEE">EEE</option>
          <option value="CVE">CVE</option>
          <option value="ME">ME</option>
          <option value="ASE">ASE</option>
          <option value="BT">BT</option>
          <option value="IEM">IEM</option>
          <option value="CHE">CHE</option>
          <option value="EIE">EIE</option>
        </select>
      </div>
      <br>

      <div>

        <label for="image">Upload files</label>

        <input type="file" id="image" name="myfile" value="<%=data.img%>" multiple >

      </div>

      <input type="hidden" name="ide" value="<%= data._id %>">

      <br>

      <div>

        <button class="updatebtn btn btn-outline-dark shownoticebtn" type="submit">Submit</button>

      </div>

    </form>

  </div>

</body>
